<div class="jumbotron">
  <h1>Welcome</h1>

  <p>Imagine that you can shop online advertisering in today's social and ecommerce world.</p>

  <p><%= link_to 'Join Us Now', new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>