<div id="product-<%= @product.id %>" class="product">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @product, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @product %>
      <br>
      <div class="comments">
        <%= render(@comments) %>
      </div>
    </div>
  </div>
</div>